<?xml version="1.0" encoding="utf-8"?>

<!--
    SeeingSharp and all games/applications based on it (more info at http://www.rolandk.de/wp)
    Copyright (C) 2014 Roland König (RolandK)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->

<packages>
  <package id="AssimpNet" version="3.3.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="PropertyTools.Wpf" version="2015.1.49" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D10" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.MediaFoundation" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.XInput" version="2.6.3" targetFramework="net451" />
</packages>